/* Coolors Exported Palette - coolors.co/d72638-3f88c5-f49d37-140f2d-f22b29 */

/* HSL */
$color1: hsla(354%, 70%, 50%, 1);
$color2: hsla(207%, 54%, 51%, 1);
$color3: hsla(32%, 90%, 59%, 1);
$color4: hsla(250%, 50%, 12%, 1);
$color5: hsla(1%, 89%, 55%, 1);

/* RGB */
$color1: rgba(215, 38, 56, 1);
$color2: rgba(63, 136, 197, 1);
$color3: rgba(244, 157, 55, 1);
$color4: rgba(20, 15, 45, 1);
$color5: rgba(242, 43, 41, 1);